<div id='left_footer_block'>
  <p id='twitter'>
    <%= link_to "Follow us", "https://twitter.com/refinerycms", :target => "_blank" %> on Twitter
  </p>
</div>
<div id='right_footer_block'>
  <%= render :partial => '/shared/menu',
               :locals => {
                 :hide_children => false,
                 :dom_id => 'footer_menu',
                 :extra_suffix => 'footer',
                 :roots => @menu_pages.roots.reverse
               } %>
  <p>
    Refinery CMS is copyright <%= Time.now.year %>
    <%= link_to "Resolve Digital", "http://resolvedigital.com", :title => "Ruby on Rails Refinery CMS Development", :target => '_blank' %>, provided under <%= link_to "an MIT license", "https://github.com/refinery/refinerycms/blob/master/license.md#readme", :target => '_blank' %>. <br/>
    The Refinery CMS Logo is a trademark of <%= link_to "Resolve Digital", "http://resolvedigital.com", :target => '_blank' %>.
  </p>
</div>
