<section id='body_content'>
  <section id='feature_block'>
    <%= image_tag("refinery-screenshot.png", :id => "screenshot") %>
    <div id='feature_content'>
      <div id='feature_block_content'>
        <%=raw @page[:feature_block] %>
      </div>
      <hr/>
      <p>Latest stable gem version</p>
      <p id='version' class='clearfix'>
      <% latest_version.each_char do |char| %>
        <span class='<%= char == ?. ? "point" : "digit" %>'><%= char %></span>
      <% end %>
      </p>  
      <hr/>
      <p>
        Total downloads <%= rubygems_downloads %>
      </p>
      <hr/>
      <p>
        Latest update <%= link_to latest_update, "https://github.com/resolve/refinerycms" %>
      </p>
      <hr/>
      <p>
        <%= github_watchers %> followers on GitHub
      </p>
      <p id='demo'>
        <%= link_to image_tag('try-the-demo-button.png', :alt => "Try the Demo"), "http://demo.refinerycms.com/refinery", :target => "_blank" %>
      </p>
    </div>
  </section>
  <%= image_tag("feature_block_shadow.png", :id => "feature_block_shadow") %>
  <section>
    <h1>
      <%= page_title %>
    </h1>
    <%= image_tag("gears.png", :id => "gears")%>
    <%=raw @page[:middle] %>
  </section>
  <hr/>
  <section id='bottom_content'>
    <%=raw @page[:bottom] %>
  </section>
</section>