<% # handles expiring the rubygems cache
  expire_statistics_caches! if (Time.now - 10.minutes) > RefinerySetting.find_or_set(:last_update, Time.now, :scoping => :statistics)
%>
<section id='body_content'>
  <section id='feature_block'>
    <%= image_tag("refinery-screenshot.png", :id => "screenshot") %>
    <div id='feature_content'>
      <div id='feature_block_content'>
        <%=raw @page.content_for(:feature_block) %>
      </div>
      <hr/>
      <p>Latest stable gem version</p>
      <p id='version' class='clearfix'>
      <% (digit_parts = latest_version.split(".")).each_with_index do |digits, index| %>
        <span class="digit"><%= digits %></span>
        <% if (index < (digit_parts.length - 1)) %>
          <span class='point'>.</span>
        <% end %>
      <% end -%>
      </p>
      <hr/>
      <p>
        Total downloads <%= number_with_delimiter(rubygems_downloads) %>
      </p>
      <% if (last_updated = latest_update).present? %>
        <hr/>
        <p>
          Updated
          <%= link_to latest_update, "https://github.com/refinery/refinerycms/commits" %>
        </p>
      <% end %>
      <% if (watchers_count = github_watchers).present? %>
        <hr/>
        <p>
          <%= link_to "#{number_with_delimiter(github_watchers)} watchers",
                      "https://github.com/refinery/refinerycms" %> on GitHub
        </p>
      <% end %>
      <p id='demo'>
        <%= link_to image_tag('try-the-demo-button.png', :alt => "Try the Demo"), "http://demo.refinerycms.com/refinery", :target => "_blank", :id => "demo_button" %>
      </p>
    </div>
  </section>
  <%= image_tag("feature_block_shadow.png", :id => "feature_block_shadow") %>
  <section id='features'>
    <h1>
      <%= page_title %>
    </h1>
    <%= image_tag("gears.png", :id => "gears")%>
    <%=raw @page.content_for(:middle) %>
  </section>
  <hr/>
  <section id='bottom_content'>
    <%=raw @page.content_for(:bottom) %>
  </section>
</section>
